/* 
text
tittle
*/
* {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

h1 {
  display: flex;
  font-size: 70px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
  font-family: 'Satisfy';
}

h2 {
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  margin: 50px;
  margin-left: 100px;
}
button{
  background-color: #F56960;
}

/* body*/
body {
  background-color: #fff;
  margin: 0px;
  padding: 0px;
}

/* 
top-page
header
filter-zone
sort-zone
*/
.top-page{
  background-image: url(https://raw.githubusercontent.com/Maddyrojas/DEV014-Dataverse/css/Imagenes%20Dataverse/headerLaptop.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
nav{
  height: 30px;
  margin: 20px;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-welcome{
  margin: 60px;
  width: 800px;
  color: #fff;
  font-size: 20px;
}
.filter-zone{
  margin: 0 auto;
  margin-top: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  min-width: 300px;
  height: 100px;
  width: 90%;
  background-color: #dee3ed;
  border: 2px solid #dee3ed;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.sort-zone{
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  min-width: 30px;
  height: 50px;
  width: 90%;
  background-color: #dee3ed;
  border: 2px solid #dee3ed;
}
.select {
  font-size: 16px;
}

/* 
main
div root
ul
li -> cards
dd 
*/
.divName dd {
  display: flex;
  display: flex-start;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  width: 44%;
  height: 100%;
  padding-top: 20px;
  padding-left: 20px;
  color: #404040;
}
.divStars dt {
  display: flex;
  display: flex-start;
  padding-left: 20px;
  color: #0791BE;
}
.divDescription dd {
  display: flex;
  display: flex-start;
  width: 44%;
  height: 100%;
  padding-left: 16px;
  color: #B5B5B5;
}
.divPrecio dt {
  display: flex;
  width: 44%;
  height: 100%;
  padding-left: 16px;
  color: #424D58;
  font-family: "Monserrat", sans-serif;
  font-weight: 550;
  font-size: 26px;
}
.divPrecio span {
  display: flex;
  align-items: end;
  padding-left: 5px;
  color: #B5B5B5;
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
}
#bntProvincia {
  float: right;
  float: inline-end;
  color: #747474;
  font-weight: 600;
  text-transform: uppercase;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
#root {
  /*contiene el ul*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.text-aventura{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
.compute-zone{
  margin: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.compute-box { 
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 320px;
  height: 400px;
  overflow: hidden;
}

/*footer */
.footer {
  text-align: left;
  margin-top: 20px;
  padding: 10px;
}

/* 
queris
media 
*/
@media (max-width: 767px) {
  .top-page{
    height: 40vh;
  }
}

@media (min-width: 767px) and (max-width: 990px) {
  .top-page{
    height: 60vh;
  }
}

@media (min-width: 990px) {
  .top-page{
    height: 95vh;
  }

  .imagine-cutted {
    width: 340px;
    height: 240px;
    float: right;
    clip-path: polygon(39% 0, 100% 0, 100% 100%, 0% 100%);
    overflow: hidden;
  }

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 108vh;
    height: 40vh;
    overflow: hidden;
  }
}