* {
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
}

h1 {
  display: flex;
  font-size: 70px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  justify-content: center;
  align-items: center;
  color:#fff;
  text-shadow: -2px -2px 0 #000,  
  2px -2px 0 #000,
 -2px  2px 0 #000,
  2px  2px 0 #000; 
  font-family: 'Satisfy';
}

h2 {
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

/* header*/

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://raw.githubusercontent.com/Maddyrojas/DEV014-Dataverse/main/Imagenes%20Dataverse/header.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

@media (max-width: 767px) {
  .desktop {
    display: none
  }

  .tablet {
    display: none;
  }

  .movil {
    display: flex;
    height: 40vh;
    width: 60vh;
    background-size: auto;
  }
}

@media (min-width: 767px) and (max-width: 990px) {
  .desktop {
    display: none;
  }

  .movil {
    display: none;
  }

  .tablet {
    display: flex;
    height: 60vh;
    background-size: auto;
  }
}

@media (min-width: 990px) {
  .movil {
    display: none;
  }

  .tablet {
    display: none;
  }

  .desktop {
    display: flex;
    height: 100vh;
    background-size: auto;
  }
}

/* main */

.select {
  font-size: 16px;
}

.cards {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 48%;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.imagine-cutted {
  width: 318px;
  height: 239px;
}

/*footer */

.footer {
  text-align: left;
  margin-top: 20px;
  padding: 10px;
}